{% extends 'app/dummy.html'%}

{% block title %}
<title>Home Page</title>
{% endblock %}

{% block body_block %}
<center>
    <h1>Are U sure to delete {{schoolobject.Sname}}?</h1>

    <form method="POST">
        {% csrf_token %}

        <input type="submit" value="Yes-Delete" class="btn btn-secondary">
    </form>

<h1><a href="{% url 'SchoolList' %}">No Take me back to list page</a></h1>


<h1><a href="{% url 'detail' pk=schoolobject.pk %}">No take me back to Detail</a></h1>




</center>
{% endblock %}