{% extends 'app/dummy.html' %}

{% block title %}
<title>SchoolList</title>
{% endblock %}

{% block body_block %}
<center>
    <h1>School Details</h1>
<table border="2px">
    <tr>
        <th>SchoolName</th>
        <th>SchoolPrincipal</th>
        <th>SchoolLocation</th>
    </tr>
    <tr>
        <td>{{schoolobj.Sname}}</td>
        <td>{{schoolobj.Sprincipal}}</td>
        <td>{{schoolobj.Slocation}}</td>
    </tr>
</table>

<h1>Dtails of {{schoolobj}} are</h1>
{% for st in schoolobj.students.all %}
<h1>Name of Student is{{st.Stname}}</h1>
<h1>Name of Student age is {{st.Stage}}</h1>

{% endfor %}
</center>
{% endblock %}
