
{% extends 'app/dummy.html' %}


{% block title  %}
        <title>Detail page</title>
{% endblock %}


{% block body_block %}
<center>
    <h1>Detail Information of {{schoolobj}}</h1>

    <table border="3px">
    <tr>
        <th>SchoolName</th>
        <th>SchoolPrincipal</th>
        <th>SchoolLocation</th>
    </tr>

    <tr>
        <td>{{schoolobj.Sname}}</td>
        <td>{{schoolobj.Sprincipal}}</td>
        <td>{{schoolobj.Slocation}}</td>
    </tr>
    </table>

    <h1>Students of {{schoolobj}} are</h1>

        {% for st in schoolobj.students.all %}
            <h1>name of the student is {{st.Stname}}</h1>
            <h1>age of student is {{st.Stage}}</h1>
        {% endfor %}



<a href="{% url 'update' pk=schoolobj.pk %}" class="btn btn-primary">Update</a>
<a href="{% url 'delete' pk=schoolobj.pk %}" class="btn btn-danger">Delete</a>

</center>


{% endblock %}